/* Modularizacion */
/* Estilos generales */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body{
  margin: 0;
}

.h1 {
  font-size: 25px;
  font-family: "Sofia Sans Condensed", sans-serif;
}

.seccion-oscura {
  color: white;
  background-color: black;
}

.seccion-pre{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 179, 250);
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo {
  font-size: 3rem;
  padding: 15px 0;
  font-family: "Sofia Sans Condensed", sans-serif;
}

.seccion-descripcion {
  font-size: 15px;
  color: grey;
}

.seccion-texto {
  font-size: 1.6rem;
  color: grey;
}

.btn-secondary {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Barra de navegacion */

.barra_nav .navbar{
  padding: 25px 0px 25px 0px;
}
.navbar{
  background-color: black;
}

.navbar .navbar-nav .nav-item a{
  color: white;
}

.navbar .navbar-nav .nav-item a:hover{
  color: rgb(0 179 250);
}

.navbar-collapse{
  align-items: center;
  justify-content: space-around;
}

.iconos-navbar a{
  width: 50px; 
  height: 50px; 
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-navbar i{
  color:white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-navbar a:hover{
  background-color: white;
  border: 2px solid rgb(0, 179, 250);
}

.iconos-navbar a:hover i{
  color: black
}

/* Alerta */

.alerta .alert{
  text-align: center;
}

/* Seccion HERO*/

.hero{
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 20px;
}

.hero .carousel{
  max-width: 100%;
}

.carousel-item{
  height: 350px;
}

.carousel-item .container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-producto-imagen{
  height: 180px;
  width: 180px;
  margin: 10px 10px 20px 10px;
}

.hero-ropa-texto{
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: "Sofia Sans Condensed", sans-serif;
}

.hero-producto-info{
  font-weight: bold;
  text-align: center;
}

.hero-producto-info p{
  margin-bottom: 0;
}

.hero-producto-info .precio{
  font-size: 1.2rem;
}

.hero-producto-info .fabricacion{
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
}

/* Seccion donacion*/

.donacion{
  padding: 5px 5px;
}

.donacion .contenedor{
  max-width: 100%;
  justify-content: center;
  text-align: center;
}

/* Seccion contactos */


.contacto .container{
  max-width: 90%;
  min-height: 20%;
  padding: 20px;
}

.contacto .rectangulo{
  background-color:rgb(0, 179, 250);
  border-radius: 10px;
}

.contacto .row{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto .seccion-titulo{
  color: white;
}

.contacto .descripcion{
  color: white;
  font-size: 1.2rem;
  padding: 12px 0;
}


.contacto button{
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: transparent;
  padding: 1.25em 2em;
  margin: 10px;
  border: 2px solid white;
  border-radius: 100px;
  transition: all 0.2 ease-in-out;
}

.contacto button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.contacto button i{
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  transition: all 0.2 ease-in-out;
}

.contacto button:hover i{
  color: black;
}


/* Seccion nosotros */

.nosotros{
  background-color: white;
  padding: 20px 0px 45px 0px;
  text-align: center;
  margin:20px;
}

.nosotros-imagen-integrantes{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 10px;
}

#seccion-texto-nosotros{
  color:black;
  font-size: 20px;
  margin: 30px;
}

/* Seccion objetivos */

.objetivos{
  padding: 0px 50px 50px 50px;
}

.objetivos .columna {
  padding: 20px;
  border: 2.5px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.objetivos .columna:hover{
  color: white;
  background-color:rgb(80, 79, 79)
}

.objetivos .seccion-titulo{
  color: white;
}

.objetivos-titulo{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.objetivos i{
  font-size: 2.5rem;
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255) ;
  padding: 8px 20px;
  border-radius: 50%;
}

.badges-contenedor{
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0;
}

.badge{
  margin: 5px;
}

/* Seccion ubicacion  */

.ubicacion{
  background-color: white;
  padding: 10px 0px 20px 0px;
  text-align: center;
  margin: 20px;
}

#mapa{
  margin: 20px;
}

/* Seccion productos */

.wh-productos{
  height: 100%;
  padding: 10px;
  margin: 10px;
}

.wh-productos .contenedor{
  max-width: 100%;
}

.wh-productos .seccion-titulo{
  text-align: center;
}


/* Proyectos */

.proyectos-recientes{
  padding: 40px;
}

.proyectos-recientes img{
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor{
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay{
  transition: all 0.2 ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto{
  position: relative;
}

.proyecto:hover img{
  opacity: 0.2;
}

.proyecto:hover .overlay{
  opacity: 1;
}

.overlay .iconos-contenedor{
  display: flex;
}

.overlay i{
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Footer */ 

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-logo{
  height: 100px;
  width: 100px;
  margin: 5px;
}

.footer-texto{
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
}

.iconos-redes-sociales a{
  width: 50px; 
  height: 50px; 
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i{
  color:white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
  background-color: white;
  border: 2px solid rgb(0, 179, 250);
}

.iconos-redes-sociales a:hover i{
  color: black
}

/* Copyright */

.derechos-de-autor{
  font-size: 15px;
  color: #aeaeae;
  padding:20px;
}

/* Responsive */

@media screen and (max-width: 767px) {
  .navbar-brand{
      display: none;
  }
}

@media screen and (max-width: 800px){
  .hero-producto-imagen{
      height: 120px;
      width: 120px;
  }

  .hero-ropa-texto{
      font-size: 18px;
  }
}

@media screen and (max-width: 400px){
  .overlay p{
      font-size: 18px;
  }

  .overlay i{
      font-size: 40px;
  }
}

@media screen and (max-width: 800px){
  .navbar{
    background-color: grey;
  }
}
/*# sourceMappingURL=estilos.css.map */
