/* Modularizacion */
@import "colores";
@import "fuentes";

/* Estilos generales */

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1{
    font-size: $presize;
    font-family: $prefont;
}

.seccion-oscura{
    color: $color1;
    background-color: $color2;
}

.seccion-clara{
    color: $color2;
    background-color: $color1;
}

.seccion-titulo{
    font-size: $presize;
    padding: 15px 0;
    font-family: $prefont;
}

.seccion-descripcion{
    font-size: $size1;
    color: $color2;
}

.seccion-texto{
    font-size: $sizetext;
}

.btn-secondary{
    font-size: 1.1rem;
    margin: 20px;
}

.texto-negro{
    color: $color2;
}

.texto-blanco{
    color: $color1;
}

/* Barra de navegacion */

